.css-177gid-MuiTableCell-root {
          border: none !important;
          text-align: left !important;
}

.css-1azl6jz-MuiTableCell-root {
          border: none !important;
          text-align: left !important;
          font-weight: bold !important;
}

.css-1tb2icn-MuiPaper-root-MuiTableContainer-root {
          width: 100% !important;
}


.cell {
          display: flex !important;
          flex-direction: row !important;
          gap: 10px;
}

.css-dyvrhi-MuiTypography-root {
          font-weight: bold !important;
}

.css-ahj2mt-MuiTypography-root {
          font-weight: bold !important;
          padding: 10px !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
          box-shadow: none !important;
}