.home {
          position: absolute;
          right: 0;
          left: 180px;
          top: 60px;
          display: flex;
          flex-direction: column;
          gap: 45px;
          padding: 30px;
}

.home-chart {
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.grid-widget {
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.css-mhc70k-MuiGrid-root {
          margin-top: 0 !important;
          margin-left: 0 !important;
          width: 100% !important;
}