.home {
          position: absolute;
          right: 0;
          left: 180px;
          top: 60px;
          display: flex;
          flex-direction: column;
          gap: 45px;
          padding: 30px;
}

