.home {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 45px;
          padding: 30px;
}

.feature-grid {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
}