.product {
          position: absolute;
          right: 0;
          width: 1358px !important;
          height: 400px;
          padding: 30px;
          margin-top: 56px;
}

.btn-create {
          width: 125px;
          background-color: teal !important;
}

.product-chart {
          padding: 10px;
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75) !important
}

.product-info {
          padding: 10px;
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75) !important
}