.product {
          position: absolute;
          right: 0;
          width: 1358px !important;
          height: 400px;
          padding: 30px;
          margin-top: 56px;
}

.btn-create {
          width: 125px;
          background-color: teal !important;
}

