.product {
          position: absolute;
          right: 0;
          width: 1298px !important;
          padding: 30px;
          margin-top: 54px;
}

.product-title-container {
          width: 100%;
          justify-content: space-between;
          align-items: center;
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
          border-radius: 15px;
          box-sizing: border-box;
          padding: 0 20px;
          height: 70px;
}
.product-title {
          font-weight: 800;
}

.btn-create {
          width: 125px;
          height: 45px;
          background-color: teal !important;
}

.product-chart {
          width: 100%;
          height: 250px;
          border-radius: 15px;
          box-sizing: border-box;
          padding: 20px;
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info {
          width: 100%;
          height: 250px;
          border-radius: 15px;
          align-items: center;
          box-shadow: 0 0 15px -10px rgba(0, 0, 0, 0.75);
}

.product-info-left {
          width: 50%;
          padding: 20px;
}

.product-info-right {
          width: 50%;
          padding: 20px;
}

.product-name {
          width: 100%;
          font-weight: 900 !important;
          text-align: center;
}

.product-info-item {
          display: flex;
          flex-direction: row !important;
          justify-content: space-between;
          align-items: center;
          gap: 70px;
}