.featurecontent {
         width: 30%;
         height: 125px;
          box-shadow: 0 0 15px -10px rgba(0,0,0,0.75);
          padding: 10px;
}

.featurecontainer {
          /* Add feature container styles */
          display: flex !important;
          align-items: center !important;
          gap: 40px;
}

.feature-item {
          /* Add feature price styles */
          display: flex !important;
          flex-direction: row !important;
          align-items: center;
}