.App {
          
          display: flex;
          flex-direction: column;
}
.container {
          position: relative;
          
}

a {
          text-decoration: none;
          color: rgb(118, 110, 113)
}